.AboutMeContainer {
  display: flex;
  flex-direction: row;
}

.AboutMe {
  padding: 0px 100px 0px 15px;
  width: 50%;
}

.AboutMeTitle {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 10px;
  margin-top: 0;
}

.AboutMeSubtitle {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--orange);
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.skillsContainer {
  width: 50%;
}

.skillsHeading {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 45px;
}

.skillsColumn {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 5rem;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  max-width: 110px;
}

.skillsBackground {
  transition: padding 0.5s;
  overflow: hidden;
  position: relative;
}

.skillsBackground:hover {
  padding: 40px 30px;
  border-radius: 60px;
  background: var(--grey);
  display: inline-block;
}

.skillName{
  opacity: 0;
}

.skillsBackground:hover .skillName{
  opacity: 1;
  animation: opacityText 0.5s;
}

.icon img {
  height: 50px;
  width: 50px;
}

.tableContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.tableContainer h3 {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 45px;
}

.tableContainer img {
    height: 20rem;
    width: 100%;
}

.dataContainer{
    display: flex;
    flex-direction: column;
}

.dataItemContainer{
    display: flex;
    flex-direction: row;    
}

.dataItem {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dddddd;
    padding-top: 20px;
    padding-bottom: 20px;
}

.year {
    line-height: 26px;
    font-weight: 600;
    color: var(--jnj-title-color);
    margin-right: 30px;
    min-width: 120px;
}

@keyframes opacityText {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}