.AboutMeContainer {
  display: flex;
  flex-direction: row;
}

.AboutMe {
  padding: 0px 100px 0px 15px;
  width: 50%;
}

.AboutMeTitle {
  font-size: 60px;
  line-height: 70px;
  margin-bottom: 10px;
  margin-top: 0;
}

.AboutMeSubtitle {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--orange);
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.skillsContainer {
  width: 50%;
}

.skillsHeading {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 45px;
}

.skillsColumn {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 5rem;
}

.skillsContent {
  display: flex;
  flex-direction: column;
  max-width: 110px;
}

.skillsBackground {
  position: relative;
  padding: 40px 30px;
  border-radius: 60px;
  background: var(--grey);
}

.icon img {
  height: 50px;
  width: 50px;
}

.tableContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  column-gap: 6rem;
}

.tableContainer h3 {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 45px;
}

.tableContainer img {
  height: 20rem;
  width: 70%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
}

.dataItemContainer {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #dddddd;
  height: 9rem;
}

.dataItem {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 22rem;
}

.dataItem .description {
  font-size: 0.75rem;
  text-wrap: balance;
}

.year {
  line-height: 26px;
  font-weight: 600;
  color: var(--black);
  margin-right: 30px;
  min-width: 120px;
}

.jobTitle {
  line-height: 26px;
  font-weight: 600;
  color: var(--black);
  margin-right: 30px;
  min-width: 120px;
}

@media (width <= 480px) {
  .AboutMeContainer {
    flex-direction: column;
  }

  .dataItemContainer {
    height: auto;
  }

  .AboutMe {
    padding: 0;
    width: 100%;
  }

  .skillsContainer {
    width: 100%;
  }

  .skillsColumn {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    margin-top: 3rem;
  }

  .skillsContent {
    margin: 10px auto;
  }

  .tableContainer {
    flex-direction: column;
  }
}

@media (768px <= width <= 1024px) {
  .AboutMeContainer {
    flex-direction: column;
  }

  .AboutMe {
    padding: 0;
    width: 100%;
  }

  .skillsContainer {
    width: 100%;
  }

  .skillsColumn {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    margin-top: 3rem;
  }

  .skillsContent {
    margin: 10px auto;
  }

  .tableContainer {
    flex-direction: column;
  }

  .dataItemContainer {
    height: auto;
  }
}
