.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 25px;
    background-color: var(--orange);
    outline: 3px var(--orange) solid;
    outline-offset: -3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    max-width: 150px;
    text-decoration: none;
  }
  
  .btnText{
    color: var(--white);
    font-family: var(--font);
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .btn:hover {
    background-color: var(--darkOrange);
    outline: 3px var(--darkOrange) solid;

  }